<h1>API Documentation</h1>
<br>
<p>There is no api documentation</p>
<div><%= image_tag 'https://media1.tenor.com/m/iI0Hwet6FxYAAAAd/dancing-steve.gif' %></div>
<div><%= link_to "Ir a la api", music_albums_path %></div>